.about_me{
    width: 100%;
    height: 500px;
    background: lighten($color: $primary_color, $amount: 5);
    position: relative;
}
.maindiv{
    display: flex;
}
.me{
    width: 50%;
    background: lighten($color: $primary-color, $amount: 1);
    position: relative;
    
}
.image{
    width: 50%;
    background: lighten($color: $primary-color, $amount: 5);
    height: 500px;
    position: relative;
}
.myimage{
    width: 400px;
    height: 400px;
    background: $secondary-color;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top: 70px;

}
.heading_1{
    font-size: 40px;
    font-weight: 400;
    position: absolute;
    top: 50px;
    left: 200px;
    
}
.p1{
    text-align: center;
    margin-top: 120px;
    font-size: 20px;
    line-height: 2.5;
}
