
.home{
    width: 100%;
    height: 500px;
    background: $primary-color;
}

h1,h2,h3{
    font-weight: 700;

    &.lg_heading{
        font-size: 6rem;
       position: absolute;
       left: 100px;
       top: 200px;
       color: white;
    }
    &.sm_heading{
        position: absolute;
        font-size: 2rem;
        color: white;
        left: 100px;
        top: 300px;
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color , 2 ) ,0.5);
    }
    
}
.icons{
    position: absolute;
    left: 100px;
    top: 400px; 
    margin-top: 1rem;

    
    
}
.icons a{
    padding: 5px;
    color: white;
}
.icons a:hover{
    color: $secondary-color;
    @include easeOut();
    
}