.skills{
    width: 100%;
    height: 350px;
    background: lighten($color: $primary_color, $amount: 10);
}

h1{
    margin:0;


    &.heading_2{
        text-align: center;
        font-size: 40px;
    }
    &.heading_3{
        text-align: center;
        font-size: 30px;
    }
    &.heading_4{
        text-align: center;
        font-size: 30px;
    }
}
.myskills{
    width: 100%;
    height: 300px;
    display: flex;
}
.learnt{
    width: 50%;
    height: 300px;
    background: lighten($color: $primary-color, $amount: 5);
    position: relative;
      
    .threedivs{
        display: flex;
        justify-content: space-evenly;
        margin-top: 100px;
        
    }
}
.learning{
    width: 50%;
    height: 300px;
    position: relative;
    background: lighten($color: $primary-color, $amount: 1);

    .twodivs{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 100px;
         
    }
    .react{
   position: relative;
       .pr{
           text-transform: uppercase;
           position: absolute;
           left: 20px;
           top: 110px;
           font-size: 20px;
       }
    }
    .php{
        position: relative;
        .pp{
            text-transform: uppercase;
            position: absolute;
            left: 30px;
            top: 110px;
            font-size: 20px;
        }
    }

   
}